<!doctype html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8"/>
    <title>Task Tracker</title>
</head>
<body>

<h1>Task Tracker</h1>

<form method="post" action="/tasks">

    <input name = "title">
    <select name = "priority">
        <option>LOW</option>
        <option>MEDIUM</option>
        <option>HIGH</option>
        <option>CRITICAL</option>
    </select>

    <button type = "submit">OK</button>

</form>


<h2>Tasks:</h2>


<ul>
    <li th:each="t : ${tasks}">
        <span th:text="${t.title}"></span>
        <span th:text="${t.priority}"></span>
        <span th:text="${t.status}"></span>
        <form method="post" action="/tasks/done"> <input type="hidden" name = "id" th:value="${t.id}"><button type="submit"> Done </button> </form>
    </li>
</ul>

</body>
</html>
